<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>

    <title>PyCeal | ID Generator</title>
</head>

<body id="back_IDgen">


    <div class="info_gen">
        <div class="banner">
            <strong>BATANGAS STATE UNIVERSITY</strong>-The National Engineering University
            <div class="pyceal">
                <h4>Powered by: PyCeal</h4>
            </div>
        </div>

        <div class="form">
            <h1>ID GENERATOR</h1>
            <form action="#" class="reg">
                <input type="text" placeholder="Full Name" required>
                <input type="text" placeholder="Program">
            </form>

            <div class="column">
                <form action="#" class="reg">
                    <input type="text" placeholder="SR Code">
                    <input type="text" placeholder="Year">
                </form>
            </div>
            
            <form action="#" class="reg">
                <input type="email" placeholder="Email Address" required>
            </form>

            <h3>Emergency Contact</h3>
            <form action="#" class="reg">
                <input type="text" placeholder="Contact Person">
                <input type="text" placeholder="Address">
                <input type="text" placeholder="Contact Number">
                <br>
                
            </form>
            <h3>Upload Files</h3>

            <div class="upload">
                <form action="#" class="pic">
                    <label>ID Picture</label><input type="file" placeholder="Upload ID Picture">
                </form>
            </div>
            <div class="upload">
                <form action="#" class="sign">
                    <label>E-Signature </label><input type="file" placeholder="Upload E-Signature">
                </form>
            </div>
        
            <div id="button">
              <a href="#"><button > Generate ID </button></a>
        </div>
    </div>
</body>
</html>