<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>

    <title>PyCeal | Secured ID Generator</title>
</head>

<body>
    <div class="head">
        <div class="BSU">
            <h1>BATANGAS STATE UNIVERSITY</h1>
        </div>
        <div class="NEU">
            <h2>The National Engineering University</h2>
        </div>
        <div class="Motto">
            <h3>Leading Innovations, Transforming Lives</h3>
        </div>
    </div>

    <div class="button">
         <button onclick="document.location='Log_In.html'">Get Started</button>
    </div>

</body>