<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='/css/styles.css')}}"> 
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>

    <title>PyCeal | ID Generator</title>
</head>
<body id="prev">
    <div class="info_gen">
        <div class="banner">
            <strong>BATANGAS STATE UNIVERSITY</strong>-The National Engineering University
            <div class="pyceal">
                <h4>Powered by: PyCeal</h4>
            </div>
        </div>

        <div class="account_box">
            <div class="acc_info">
                <strong class="name">DELA CRUZ, JUAN C.</strong>
                <div class="sub">
                    <p>12-345</li>
                    <p>juandelacruz@gmail.com</p>
                </div>
            </div>
        </div>

        <div class="ID_prev">
            <h1>ID PREVIEW</h1>
        </div>

</body>
</html>