{% extends 'base.html' %}

{% block title %}ID Image Generator - Forms{% endblock %}

{% block content %}

<style>
/* Form section */
.form-section {
  background-color: #fff;
  padding: 50px 0;
}

.form-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid #eaeaea;
  padding: 5px 0;
  font-size: 1.1rem;
  color: #333;
  transition: border-bottom-color 0.3s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-bottom-color: #ff2e63;
}

.form-group input[type="file"] {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.submit-button {
  display: inline-block;
  background-color: #ff2e63;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #e60052;
}
</style>

  <!-- Form section -->
  <section class="form-section">
    <div class="form-container">
      <h1>Hi, {{ current_user.username }}! Fill out the form to generate your ID</h1> <br>
      <form action="#" method="post">
        <div class="form-group">
          <!-- FIRST NAME -->
          {{ form.first_name.label }}
          {{ form.first_name(size=32) }}       
        </div> 
        {% for error in form.first_name.errors %}
          <span class="error">**{{ error }}**</span>
        {% endfor %}
        <div class="form-group">
          <!-- LAST NAME -->
          {{ form.last_name.label }}
          {{ form.last_name(size=32) }}      
        </div>
        <div class="form-group">
          {{ form.program.label }}
          {{ form.program(size=64) }} 
        </div>
        <div class="form-group">
          {{ form.sr_code.label }}
          {{ form.sr_code(size=5) }}
        </div>
        <div class="form-group">
          {{ form.year_lvl.label }}
          {{ form.year_lvl(size=1) }}
        </div>
        <div class="form-group">
          {{ form.address.label }}
          {{ form.address(size=128) }}
        </div>
        <div class="form-group">
          {{ form.contact_person.label }}
          {{ form.contact_person(size=100) }}
        </div>
        <div class="form-group">
          {{ form.contact_num.label }}
          {{ form.contact_num(size=11) }}
        </div>
        <div class="form-group">
          <label for="picture">Upload Picture</label>
          <input type="file" id="picture" name="picture" accept="image/*" >
        </div>
        <div class="form-group">
          <label for="signature">Upload Signature</label>
          <input type="file" id="signature" name="signature" accept="image/*" >
        </div>
        <button class="submit-button" type="submit">Generate ID</button>
      </form>
    </div>
  </section>

{% endblock %}

  
{% block styles %}

{% endblock %}