<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
    <title>PyCeal | Log In</title>
</head>

<body id="back_login">
    <div class="login_container">

        <div class="login_form">
            <h5>Log In</h5>
            <div class="content_login">
                <form action="#" class="reg">
                    <input type="email" placeholder="Email Address">
                    <input type="text" placeholder="SR-code">
                </form>
                <p class="pass"> <a href="/html/default.asp">Forgot Password? </a> </p>
            </div>
       
          
                <a href="#"><button class="btn_login">Log In</button></a>
   

            <div class="check">
                <p>I have no ID. <a href="ID_Generator.html">Click here.</a></p>
            </div>
        </div>
    </div>
</body>